<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js" integrity="sha256-qs5p0BFSqSvrstBxPvex+zdyrzcyGdHNeNmAirO2zc0=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $('.tabular.menu .item').tab({
                history: false
            });
            $('.menu .item')
                .tab();
        });

        $('.paths.example .menu .item')
            .tab({
                context: '.paths.example'
            });
    </script>
</head>

<!-- This page is totally built with "Django template language" in logic and "Semantic-UI" in display. -->

<body>
    <div id='like_button_container'></div>
    {% load static %}
    <div class="ui pointing secondary menu">

        {% if flag_scan %}

        <a class="active item" data-tab="second">
            <font size="6"><b> Original </b></font>
        </a> {% else %}
        <a class="active item" data-tab="first">
            <font size="6"><b> Original </b></font>
        </a>
        {% if flag_classifier %}
        <a class="item" data-tab="second">
            <font size="6"><b> Edited </b></font>
            {% endif %}
        </a> {% endif %}
    </div>
    {% if flag_scan %}
    <div class="ui tab segment" data-tab="first">

        {% else %}
        <div class="ui active tab segment" data-tab="first">
            {% endif %}
            <div class="ui top attached tabular menu">
                {% for img_type in image_type_list %} {% if forloop.first %}
                <a class="active item" data-tab="{{forloop.counter}}">{{img_type}}</a> {% else %}
                <a class="item" data-tab="{{forloop.counter}}">{{img_type}}</a> {% endif %} {% endfor %}
            </div>
            {% for img_type,img_list in image_dir.items %} {% if forloop.first %}
            <div class="ui bottom attached active tab segment" data-tab="{{ forloop.counter }}">
                {% else %}
                <div class="ui bottom attached tab segment" data-tab="{{ forloop.counter }}">
                    {% endif %}
                    <div class="ui grid">
                        {% for img_path in img_list %}
                        <div class="three wide column">
                            <div class="ui medium rounded image">

                                <a class="ui left corner label" target="_blank" href="/show_one_image/?img_path={{ img_path }}">
                                    <i class="zoom-in icon"></i>
                                </a>
                                {% if "Depth" in image_type_list %}
                                <a class="ui right corner label" href="/create_pc/?img_path={{ img_path }}" target="_blank">
                                    <i class="cloud icon"></i>
                                </a>
                                {% endif %}
                                <img src="{% static img_path %}">
                            </div>
                        </div>
                        {% endfor %} {% if forloop.first %}
                    </div>
                    {% else %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        {% if flag_scan %}
        <div class="ui active tab segment" data-tab="second">
            {% else %}
            <div class="ui tab segment" data-tab="second">
                {% endif %}
                <div class="ui top attached tabular menu">
                    {% comment %} create tab label for each object_id {% endcomment %} {% for image_object_id, image_package in bounding_box.items %} {% if forloop.first %}
                    <a class="active item" data-tab="{{ image_object_id }}">{{ image_object_id }}</a> {% else %}
                    <a class="item" data-tab="{{ image_object_id }}">{{ image_object_id }}</a> {% endif %} {% endfor %}
                </div>
                {% comment %} create content for every object id {% endcomment %} {% for image_object_id,image_package in bounding_box.items %} {% if forloop.first %}
                <div class="ui bottom attached active tab segment" data-tab="{{ image_object_id }}">
                    {% else %}
                    <div class="ui bottom attached tab segment" data-tab="{{ image_object_id }}">
                        {% endif %}
                        <div class="ui top attached tabular menu">
                            {% for cut_type,image_path_list in image_package.items %} {% if forloop.first %}
                            <a class="active item" data-tab="{{ image_object_id }}{{ cut_type }}">{{ cut_type }}</a> {% else %}
                            <a class="item" data-tab="{{ image_object_id }}{{ cut_type }}">{{ cut_type }}</a> {% endif %} {% endfor %}
                        </div>
                        {% for cut_type,image_path_list in image_package.items %} {% if forloop.first %}
                        <div class="ui bottom attached active tab segment" data-tab="{{ image_object_id }}{{ cut_type }}">
                            {% else %}
                            <div class="ui bottom attached tab segment" data-tab="{{ image_object_id }}{{ cut_type }}">
                                {% endif %} {% comment %} loop image path {% endcomment %}
                                <div class="ui grid">
                                    {% for img_path in image_path_list %}
                                    <div class="three wide column">
                                        <div class="ui medium rounded image">



                                            <a class="ui left corner label" target="_blank" href="/show_one_image/?img_path={{ img_path }}">
                                                <i class="zoom-in icon"></i>
                                            </a>
                                            {% if "Depth" in image_type_list %}
                                            <a class="ui right corner label" href="/create_pc/?img_path={{ img_path }}" target="_blank">
                                                <i class="cloud icon"></i>
                                            </a>
                                            {% endif %}
                                            <img src="{% static img_path %}">


                                            <!-- <a href="/create_pc/?img_path={{ img_path }}" target="_blank">
                                                <img src="{% static img_path %}">
                                            </a> -->



                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %} {% if forloop.first %}
                        </div>
                        {% else %}
                    </div>
                    {% endif %} {% endfor %}
                </div>
</body>

</html>