<!DOCTYPE html> {% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Search Engine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js" integrity="sha256-qs5p0BFSqSvrstBxPvex+zdyrzcyGdHNeNmAirO2zc0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script>
        // assign django global variable for js
        var token = '{{csrf_token}}'
        $(document).ready(function() {
            $('.ui.accordion').accordion();
            $('.ui.dropdown').dropdown({
                allowAdditions: true,
            })
            $('.question')
                .popup();
            $("#enable_bounding_box").click(function() {
                // $("#checkbox_bounding_box").prop("checked", true)
                // $("#checkbox_split_bounding_box").prop("checked", true)
            })
        });
    </script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/log_out.js' %}"></script>
</head>


<div class="ui secondary mini  menu" style="background-color: #145179;">
    <a class="item">
        <font color="white" size="4"> <b> RobCoGVis </b></font>
    </a>
    <div class="right menu">

        <img class="ui tiny circular image" src="{% static 'img/rob.jpg' %}" style="width: 25px;height: 25px;position: relative;top: 5px;" />
        <a class="ui item">
            <font color="white" size="2" id="log_out" class="log_out"> &nbsp; Logout</font>
        </a>
    </div>
</div>




<div class="ui column stackable center page grid">

    <div class="row">
    </div>
    <div class="row">
        <div class="two wide column"></div>
        <div class=" ten wide column">
            <form method="get" class="ui form" action="/start_search/" id='main_form'>
                <div class="ui accordion field">
                    <div class="active title class_accord" style="border-radius: 8px;background-color: #cfd8dd">
                        <i class="icon angle down" style="float:right;"></i>
                        <font size="4"><b>  &nbsp;&nbsp;Query </b></font>
                    </div>
                    <div class="active content field class_accord">
                        <!-- <input placeholder="Query sentence" name="query_data" type="text"> -->
                        <span><input name="query_data" id="query_input" placeholder="Input the query sentence to search images from databases" value="entity@PaP@1@IAISink+OrionAdam" type="text"></span>
                        <label>Optional:</label>
                        <span><input name="optional_data" id="optional_input" placeholder="Optional parameters" value="limit=20,label_classes,classifier" type="text" ></span>
                        <label>Image types:</label>
                        <span><input name="type_data" id="type_input" placeholder="Image type parameters" value="Color,Depth,Mask,Normal,Unlit" type="text" ></span>
                        <label>Data manipulation:</label>
                        <span><input name="resize_data" id="resize_input" placeholder="Resize parameters" type="text" ></span>

                        <div class="two ui buttons">
                            <button type="button" id="log_out" formtarget="_blank" class="ui left labeled icon button log_out">Abort</button>
                            <button type="button" id="search" formtarget="_blank" class="ui left labeled icon button">Search</button>
                        </div>

                    </div>
                </div>

                <div class="ui accordion field">

                    <div class="active title class_accord" style="border-radius: 8px;background-color: #cfd8dd">
                        <i class="icon angle down" style="float:right;"></i>
                        <font size="4"><b>  &nbsp;&nbsp;Query Examples </b></font>
                    </div>
                    <div class="content">
                        <div class="ui ordered list">
                            <div class="item">
                                <a>Main query:</a>
                                <div class="list">
                                    <a class="item">Entity search grammar:</a>
                                    <p>entity@DATABASE@COLLECTION@OBJECT_CLASS</p>
                                    <p>entity@DATABASE@COLLECTION@OBJECT_ID</p>

                                    <a class="item">Event search grammar:</a>
                                    <p>event@DATABASE@COLLECTION@CAMERA_VIEW@TIMESTAMP</p>
                                    <p>event@DATABASE@COLLECTION@VIEW_ID</p>
                                    <a class="item">Scan search grammar:</a>
                                    <p>scan@DATABASE@OBJECT_CLASS</p>
                                    <a class="item">Explainations:</a>
                                    <p><b>DATABASE</b>: Name of the database in MongoDB.</p>
                                    <p><b>COLLECTION</b>: Name of the collection in MongoDB.</p>
                                    <p><b>LOGIC(and|or)</b>: Search logic. Appear at least one or all.</p>
                                    <p><b>OBJECT_CLASS</b>: Target class name for searching.</p>
                                    <p><b>CAMERA_VIEW</b>: Target camera view for event searching.</p>
                                    <p><b>TIMESTAMP</b>: Target timestamp for event searching.</p>
                                    <a class="item">Examples:</a>
                                    <h5>Basic entity search:</h5>
                                    <p style="margin-left: 20px;"> entity@PaP@1@IAISink</p>
                                    <h5>Multiple collections and classes entity search:</h5>
                                    <p style="margin-left: 20px;"> entity@PaP@1+2@IAISink+OrionAdam</p>
                                    <h5>Precise entity search:</h5>
                                    <p style="margin-left: 20px;">
                                        entity@PaP@1@IAISink(occl_perc&gt;0.2;occl_perc&lt;0.7;img_perc&lt;0.8;img_perc>0.02;clipped=true)
                                    </p>
                                    <h5>Event search:</h5>
                                    <p style="margin-left: 20px;">event@PaP@1@GenesisLeftHandView+VisionCamera+HeadView@0.3</p>
                                    <h5>Multi-events search:</h5>
                                    <p style="margin-left:20px ;">event@PaP@1@GenesisLeftHandView+VisionCamera+HeadView@0.3+0.7&PaP@1@TopView+VisionCamera+ThirdPersonView@0.1+0.9</p>
                                    <h5>Scan search:</h5>
                                    <p style="margin-left: 20px;">scan@PaP@IAIDoorA+IAIWindowTypeC</p>
                                </div>
                            </div>

                            <div class="item">
                                <a>Optional parameters:</a>
                                <div class="list">
                                    <a class="item">Grammar:</a>
                                    <p>PARAM1,PARAM2,...</p>

                                    <a class="item">Explainations (PARM):</a>
                                    <p><b>label_classes</b>: Add annotations on images.</p>
                                    <p><b>crop</b>: Crop images with the largest bounding box boundaries.</p>
                                    <p><b>label_bones</b>: Also search for child bone objects if a skeletal object is entered.</p>
                                    <p><b>detection</b>: Bounding box coordinates can also be downloaded.</p>
                                    <p><b>classifier</b>: Add extra UI and images for each cropped objects.</p>
                                    <p><b>limit</b>: Limit result images. (To speed up)</p>
                                    <p><b>use_and_operator</b>: Use AND logic for entity search.</p>

                                    <a class="item">Examples:</a>
                                    <h5>Basic:</h5>
                                    <p style="margin-left: 20px;">label_classes,crop</p>
                                </div>
                            </div>

                            <div class="item">
                                <a>Image types:</a>
                                <div class="list">
                                    <a class="item">Grammar:</a>
                                    <p>TYPE1,TYPE2,...</p>

                                    <a class="item">Explainations (TYPE):</a>
                                    <p><b>Color</b>: RGB image type.</p>
                                    <p><b>Depth</b>: One channel Image with distance infomation.</p>
                                    <p><b>Mask</b>: Mask each object with one color.</p>
                                    <p><b>Normal</b>: Images with normal vectors.</p>
                                    <p><b>Unlit</b>: Images with full lighting condition.</p>
                                    <a class="item">Examples:</a>
                                    <h5>Basic:</h5>
                                    <p style="margin-left: 20px;">Color,Depth</p>
                                </div>
                            </div>


                            <div class="item">
                                <a>Data manipulation:</a>
                                <div class="list">
                                    <a class="item">Grammar:</a>
                                    <p>RESIZE_TYPE@WIDTH@HEIGHT PAD_TYPE</p>

                                    <a class="item">Explainations:</a>
                                    <p><b>RESIZE_TYPE(cut|pad)</b>: Manipulation type to images.</p>
                                    <p><b>WIDTH(int)</b>: Target image width.</p>
                                    <p><b>HEIGHT(int)</b>: Target image height.</p>
                                    <p><b>PAD_TYPE(optional;default:reflect;reflect|replicate|R,G,B)</b>: Choose type of padding.</p>
                                    <a class="item">Examples:</a>
                                    <h5>Basic:</h5>
                                    <p style="margin-left: 20px;">cut@80@80</p>
                                    <h5>Pad with constant value:</h5>
                                    <p style="margin-left: 20px;">pad@480@320 255,0,0</p>
                                </div>

                            </div>
                        </div>





                    </div>

                </div>




                <div class="ui accordion field">
                    <div class="title class_accord" style="border-radius: 8px;background-color: #cfd8dd">
                        <i class="icon angle down" style="float:right;"></i>

                        <font size="4"><b> &nbsp; &nbsp;Dataset Browser</b></font>
                    </div>
                    <div class="content field class_accord">
                        <div class="ui grid">
                            <div class="row">
                                <div class="four wide column" id="database_list">

                                </div>
                                <div class="eleven wide column" id="detail_list" style="overflow-x:auto;height: 300px;">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="ui accordion field">
                    <div class="title class_terminal" style="border-radius: 8px;background-color: #cfd8dd">
                        <i class="icon angle down" style="float:right;"></i>

                        <font size="4"><b> &nbsp; &nbsp;Terminal </b></font>
                    </div>
                    <div class="content field class_terminal">

                        <div class="active content" id="div_server_log" style="background-color: #e5e5e7;height:400px;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                            <p id="server_log"></p>
                        </div>
                        <button class="ui fluid teal button" id="terminal_clear" type="button">Clear</button>
                    </div>
                </div>






                <div class="ui accordion field three_button">

                    <div class="title" style="border-radius: 8px;background-color: #cfd8dd">
                        <i class="icon angle down" style="float:right;"></i>

                        <font size="4"><b> &nbsp; &nbsp;Result </b></font>
                    </div>
                    <div class="content">
                        <div class="ui grid">
                            <div class="row">
                                <div class="five wide column">
                                    <!-- <a href="/download/" target="_blank"> -->
                                    <button class="ui fluid button disabled operation_button" onclick="window.open('/download/')" type="button">Download</button>
                                    <!-- </a> -->
                                </div>
                                <div class="five wide column">
                                    <!-- <a href="/view_images/" target="_blank"> -->
                                    <button class="ui fluid button disabled operation_button" onclick="window.open('/view_images/')" type="button">View</button>
                                    <!-- </a> -->
                                </div>
                                <div class="five wide column">

                                    <!-- <a href="/training/" target="_blank"> -->
                                    <button class="ui fluid button disabled training_button" onclick="window.open('/training/')" type="button">Train Example</button>
                                    <!-- </a> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
<div class="ui grid">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>

    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>

    <div class="row"></div>
    <div class="row"></div>
</div>

<!-- <div class="ui bottom secondary mini fluid menu" style="background-color: #145179;">

    <a class="item">
        <font color="white" size="4"> <b> Logo1 </b></font>
    </a>
</div> -->





</body>

</html>